<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>bookmarks</title>

    <link rel="stylesheet" type="text/css" href="/css/bookmarks.css"/>

    <script src="webjars/handlebars/4.0.5/handlebars.js"></script>
    <script src="webjars/jquery/3.0.0/jquery.js"></script>
    <script src="webjars/jquery-dateFormat/1.0.2/jquery-dateFormat.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="left">
                <span>bookmarks</span>
            </div>
            <div class="center">
                <input type="text" placeholder="search a bookmark"/>
                <button type="button">search</button>
            </div>
        </header>

        <section>
            <div class="add_bookmark">
                <input type="text" id="input_url" placeholder="Input a url"/>
                <input type="text" id="input_desc" placeholder="Input a description"/>
                <button type="button" id="btn_add_bookmark">add</button>
            </div>
        </section>

        <section class="bookmarks_contents"></section>

        <section>
            <div class="modal">
                <div class="modal_content">
                    <span class="modal_close">x</span>
                    <p class="modal_detail_content"></p>
                </div>
            </div>
        </section>
    </div>

    <script type="text/x-handlebars-template" id="hbs_bookmark_edit">
        <div>
            <span> url: </span><input type="text" id="input_update_url" value="{{url}}"/>
            <span> desc: </span><input type="text" id="input_update_desc" value="{{description}}"/>
            <button type="button" id="btn_updateBookmark" data-bookmark-uid="{{uid}}">update</button>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="hbs_bookmarks">
        {{#bookmarks}}
        <article>
            <a href="{{url}}">
                {{#if description}}
                    {{description}}
                {{else}}
                    {{url}}
                {{/if}}
            </a>
            | {{dateformat regDate}}
            | <a href="#" class="btn_update_bookmark" data-bookmark-uid="{{uid}}">update</a>
            | <a href="#" class="btn_delete_bookmark" data-bookmark-uid="{{uid}}">delete</a>
        </article>
        {{/bookmarks}}
    </script>

    <script type="text/javascript" src="/js/handlebarsHelper.js"></script>
    <script type="text/javascript" src="/js/bookmarks.js"></script>
</body>
</html>