<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>bookmarks</title>

    <link rel="stylesheet" type="text/css" href="/external-libraries/jquery-ui/1.12.0-rc.2/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/external-libraries/tag-it/2.0/jquery.tagit.css"/>
    <link rel="stylesheet" type="text/css" href="/external-libraries/semantic-ui-2.2/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bookmarks.css"/>

    <script src="webjars/handlebars/4.0.5/handlebars.js"></script>
    <script src="webjars/jquery/3.0.0/jquery.js"></script>
    <script src="webjars/jquery-dateFormat/1.0.2/jquery-dateFormat.js"></script>

    <script src="/external-libraries/jquery-ui/1.12.0-rc.2/jquery-ui.js"></script>
    <script src="/external-libraries/tag-it/2.0/tag-it.js"></script>
    <script src="/external-libraries/semantic-ui-2.2/semantic.js"></script>
    <script src="/external-libraries/semantic-ui-2.2/tablesort.js"></script>
</head>
<body>
    <header role="banner">
        <div class="logo">
            <h2>Bookmarks</h2>
        </div>

        <form class="search_bookmark_frm" onsubmit="return false;">
            <div class="search_bookmark ui mini icon input">
                <input type="text" id="input_search" placeholder="Search a bookmark"/>
                <i id="btn_search_bookmark" class="circular search link icon"></i>
                <i class="input_search_delete circular delete link icon" style="margin-right: 20px;"></i>
            </div>
        </form>

        <aside class="config">
            <div class="ui basic icon buttons" style="background-color: #ffffff">
                <button class="ui button" id="btn_modal_load_bookmark">
                    <i class="btn_modal_load_bookmark configure left icon"></i>
                </button>
            </div>
        </aside>
    </header>

    <div class="hidden_common_data">
        <input type="hidden" id="central_tags_list_json" size="150"/>
        <div class="hidden central_tags_list"></div>
    </div>

    <aside class="search_tag_list">
        <div class="ui fluid multiple search selection mini dropdown">
            <input name="tags" class="tags" type="hidden"/>
            <i class="dropdown icon"></i>
            <div class="default text">Search Tag</div>
            <div class="menu"></div>
        </div>
    </aside>

    <script type="text/x-handlebars-template" id="search_tag_list_hbs_template">
        {{#tagList}}
            <div class="item" data-value="{{uid}}">{{name}}</div>
        {{/tagList}}
    </script>

    <main class="main">
        <!-- TODO: style -->
        <div class="add_bookmark_modal ui modal" style="height: 80%"></div>
        <div class="load_bookmark ui modal" style="height: 40%"></div>

        <div class="delete_msg ui basic small modal" style="height: 250px;">
            <div class="ui icon header">
                <i class="trash icon"></i>
                Delete Bookmark
            </div>
            <div class="content">
                <p>Are you sure you want to delete it?</p>
            </div>
            <div class="actions">
                <div class="two fluid ui inverted buttons">
                    <div class="btn_delete_bookmark ui ok green basic inverted button">
                        <i class="checkmark icon"></i>
                        Yes
                    </div>
                    <div class="ui cancel red basic inverted button">
                        <i class="remove icon"></i>
                        No
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="btn_modal_add_bookmark ui icon button">
                <i class="write icon"></i>
            </button>
            <button class="btn_edit_read_tags ui icon button">
                <i class="tags icon"></i>|
                <i class="edit icon"></i>
            </button>
        </div>

        <hr/>

        <section>
            <div class="bookmarks">
                <!-- bookmarks_article -->
            </div>

            <div class="modal">
                <div class="modal_content">
                    <span class="modal_close">x</span>
                    <p class="modal_detail_content"></p>
                </div>
            </div>
        </section>
    </main>

    <script type="text/x-handlebars-template" id="hbs_add_bookmark_modal">
        <i class="close icon"></i>
        <div class="header">
            {{addEdit}} Bookmark
        </div>
        <div class="content">
            <form class="add_bookmark_form ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">URL *</div>
                        <input type="text" id="input_url" placeholder="http://www.bookmark.com" value="{{url}}"/>
                    </div>
                </div>

                <div class="field">
                    <div class="field ui labeled input">
                        <div class="ui label">Description</div>
                        <input type="text" id="input_desc" placeholder="Bookmark - Web Application" value="{{description}}"/>
                    </div>
                </div>

                <div class="field">
                    <div class="input_tags_dropdown">
                        <div class="ui fluid multiple search selection dropdown">
                            <input name="tags" type="hidden" value="{{#tagList}}{{uid}}{{#unless @last}},{{/unless}}{{/tagList}}"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">Tags</div>
                            <div class="menu">
                                {{#each menuTagList}}
                                    {{>menuTag}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top: 180px">
            <div class="btn_add_continue ui toggle checkbox hidden">
                <input type="checkbox" id="add_continue" class="add_continue"/>
                <label for="add_continue">add Continue</label>
            </div>

            <div class="btn_add_bookmark ui primary left labeled icon button hidden">
                Add Bookmark
                <i class="checkmark icon"></i>
            </div>

            <div class="btn_edit_bookmark ui primary left labeled icon button hidden">
                Edit Bookmark
                <i class="checkmark icon"></i>
            </div>

            <div class="ui black deny button">
                Cancel
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="hbs_import_bookmark_file">
        <i class="close icon"></i>
        <div class="header">
            Import Bookmark
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">Path</div>
                        <!-- ex: /Users/Jinhyun/Downloads/fastwork/bookmark_chrome_simple.html  -->
                        <input type="text" id="bookmark_file_path" placeholder="크롬 북마크 파일 경로를 입력하세요" size="80"/>
                    </div>
                    <div class="ui ignored message">
                        /Users/Jinhyun/Downloads/fastwork/bookmark_chrome_simple.html
                    </div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top: 30px">
            <div class="btn_import_bookmark_file ui primary left labeled icon button">
                Import Bookmark
                <i class="checkmark icon"></i>
            </div>

            <div class="ui black deny button">
                Cancel
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="hbs_bookmark_edit">
        <div>
            <span> url: </span><input type="text" id="input_update_url" value="{{url}}"/>
            <span> desc: </span><input type="text" id="input_update_desc" value="{{description}}"/>
            <button type="button" id="btn_updateBookmark" data-bookmark-uid="{{uid}}">update</button>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="tag_list_hbs_partial">
        <div class="item" data-value="{{uid}}">{{name}}</div>
    </script>

    <script type="text/x-handlebars-template" id="hbs_bookmarks">
        <article class="bookmarks_article">
            <table class="ui sortable celled very compact table">
                <thead>
                    <tr>
                        <th class="eight wide">Name</th>
                        <th class="five wide">Tags</th>
                        <th class="two wide">Date</th>
                        <th class="one wide">Func</th>
                    </tr>
                </thead>
                <tbody>
                {{#bookmarks}}
                    <tr>
                        <td class="selectable">
                            <a href="{{url}}" target="_blank">
                                {{#if description}}
                                    {{description}}
                                {{else if title}}
                                    {{title}}
                                {{else if url}}
                                    {{url}}
                                {{/if}}
                            </a>
                        </td>
                        <td>
                            <div class="bookmarks_tags_label">
                                {{#tagList}}
                                    <div class="ui small label" data-value="{{uid}}">{{name}}</div>
                                {{/tagList}}
                            </div>
                            <div class="bookmarks_tags_dropdown hidden" data-bookmark-uid="{{uid}}">
                                <div class="ui fluid multiple search selection mini dropdown" data-bookmark-uid="{{uid}}">
                                    <input name="tags" class="tags" type="hidden" value="{{#tagList}}{{uid}}{{#unless @last}},{{/unless}}{{/tagList}}"/>
                                    <i class="dropdown icon"></i>
                                    <div class="default text">tags</div>
                                    <div class="menu">
                                        {{#each menuTagList}}
                                            {{>menuTag}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="font-size: 7pt; padding: 4px;">{{dateformat regDate}}</td>
                        <td>
                            <div class="compact ui small basic icon buttons">
                                <button class="btn_update_bookmark ui button" data-bookmark-uid="{{uid}}">
                                    <i class="edit icon"></i>
                                </button>
                                <button class="btn_modal_delete_bookmark ui button" data-bookmark-uid="{{uid}}">
                                    <i class="remove circle icon"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {{/bookmarks}}
                </tbody>
            </table>
        </article>
    </script>

    <script type="text/javascript" src="/js/handlebarsHelper.js"></script>
    <script type="text/javascript" src="/js/bookmarks.js"></script>
</body>
</html>